<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Driven by love of learning and too much coffee, I challenge my limits every day.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledge</h4>
                    <p class="text-muted">With 13 years I started to take university courses in Mathematics after school and earned my first credit points. 
                        Today, I'm a Computer Science student with focus on human-computer-interaction and machine learning.
                        As best of my year, I was granted a scholarship by the German National Academic Foundation sponsoring students of outstanding academic achievements.
                        After I finish my Bachelor degree in August 2018, I plan to pursue a Master's in IT Systems Engineering with a focus on digital health. 
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Experience</h4>
                    <p class="text-muted">In order to participate in a CS contest, I taught myself to code when I was 16 years old. Although it was enough for a second prize in the national finals, I like to think that my coding has improved since then.
                        Through wide-ranging employments - e.g. as Research Assistant at the University of Cambridge or as Development Intern at a leading digital health start-up - I could gather extensive work experience and boost my coding skills.
                        I am a proficient Java developer, had a lot of fun with Prolog, fell in love with React.js, briefly met MatLab, Python and some web languages, and still suffer from nightmares about a fromer VHDL/Assembler project.
                        
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Passion</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
