<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Driven by a love of learning and too much coffee, I challenge my limits every day.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledge</h4>
                    <p class="text-muted">With 13 years I started to take university courses in Mathematics and earned my first credit points. 
                        Today, I'm a Computer Science student with focus on human-computer-interaction and machine learning.
                        As best of my year, I was granted a scholarship by the German National Academic Foundation sponsoring students of outstanding academic achievements.
                        Supervised by a professor at the University of Cambridge, I am currently carrying out research and writing my bachelor thesis on 3D reconstruction with open data.
                        After I finish my Bachelor degree in August 2018, I plan to pursue a Master's in IT Systems Engineering with focus on digital health. 
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Experience</h4>
                    <p class="text-muted">In order to participate in a CS contest, I taught myself to code when I was 16 years old. Although it was enough for a second prize in the national finals, I like to think that my coding has improved since then.
                        Through wide-ranging employments - e.g. as Research Assistant at the University of Cambridge or as Development Intern at a leading digital health start-up company - I could gather extensive work experience and boost my coding skills.
                        Now I am a proficient Java developer, had a lot of fun with Prolog, fell in love with React.js, briefly met MatLab, Python and some web languages, and still suffer from nightmares about a fromer VHDL/Assembler project.
                        
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Passion</h4>
                    <p class="text-muted">I firmly believe that being passionate about something is the real superpower humans can have: it's the root of our potential, the fire of our ideas, and the guide to where we belong.
                    I am lucky to have great passion for the things in my life, because gives me determination to do even what might seem impossible at first - a nice strength especially when debugging code.
                    Also, it gives me the persistence to follow my many extracurricular interests - like medicine, running, spending time with friends and travelling the world - despite studying full-time.
                   To me, the greatest joy is to share passion: I do it by teaching kids how to code, volunteering in clubs and running charity projects.
                    </p>
                </div>
            </div>
        </div>
    </section>
