 <!-- jQuery Version 3.2.1 -->
    <script src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/typed.min.js" | prepend: site.baseurl }}"></script>
 
    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      var typed = new Typed(".typed-text", {
         strings: ["Hi! My name is Vanessa.<br/>",
                   "Hi! My name is Vanessa.<br/>I'm a <span class="highlight-word">Computer Science student</span> living in Berlin, Germany.",
                   "Hi! My name is Vanessa.<br/>I'm a <span class="highlight-word">Java developer</span> with special intrest in <span class="highlight-word">digital health</span>".,
                   "Hi! My name is Vanessa.<br/>I hope to make the world a better place with the help of technology."],
         smartBackspace: true, // Default value
         startDelay: 3000,
         typeSpeed: 80,
         backSpeed: 20,
         backDelay: 1100
       });
    </script>
